
:root{
    --button-color: #0b72b8;
    --button-hover: #3b84b5;
    --form:  rgba(27, 25, 25, 0.391);
    --text:  rgb(220, 217, 217);
    --input-text: rgb(30, 29, 29);


}
.app_header{
    background-color: rgb(48, 143, 190);
    color:rgb(255, 255, 255);
    display: flex;
    position: sticky;
    height:100%

    
}


.app_header>h2{
    display: block;
    margin: auto;
    
   


}
.app_header>h1{
    margin-left: 10px;
    margin-right: 10px;

}
.app_body{
    position: relative;
    height:80vh;    
    
}
body{
    background:rgba(15, 15, 15, 0.762) url("../assets/bg.jpg");
    background-size:cover;
    background-blend-mode:darken ;
    height: 100vh;
 
}
.header_button{
    background-color: rgb(198, 47, 47);
    color:white;
    font-weight: bold;
    margin:5px;
    cursor: pointer;
    border: none;
    padding: 1px 5px;
}
.header_button:hover{
    background-color: rgb(220, 78, 78);

}

 @media screen and (max-width:360px)  {
    .header_button{
        font-size: 10px;
        font-weight: 800;
    }
    h1,h2{
        font-size: 18px;
    }
    
 }
 @media screen and (max-width:230px)  {
    h1,h2{
        font-size: 14px;
    }

 }