.app_header{
    background-color: rgb(107, 0, 113);
    color:white;
    display: flex;
    position: sticky;
    height:100%

    
}
/* .app {
    height: 100%;
    width: 100%;
} */

.app_header>h2{
    display: block;
    margin: auto;
    
   


}
.app_header>h1{
    margin-left: 10px;
}
.app_body{
    position: relative;
    height:80vh;    


    
}
body{
    background:rgba(0, 0, 0, 0.2) url("./back.jpg");
    background-size:cover;
    background-blend-mode:darken ;
 
}
.header_button{
    background-color: rgb(36, 36, 179);
    color:white;
    font-weight: bold;
    margin:5px;
    cursor: pointer;
    border: none;
    padding: 1px 5px;



}
.header_button:hover{
    background-color: rgb(69, 69, 232);

}

 @media screen and (max-width:360px)  {
    .header_button{
        font-size: 10px;
        font-weight: 800;
    }
    h1,h2{
        font-size: 18px;
    }
    
 }
 @media screen and (max-width:230px)  {
    h1,h2{
        font-size: 14px;
    }

 }