.home{
    height: 94vh;
    width:99vw;
    background-color:rgb(201, 214, 240);
    /* opacity: 0.95; */
    display: flex;
    border-radius: 10px;
    overflow: scroll;
    /* overflow-x: hidden; */
}
@media  (max-width:1800px)  {
    .home{
        margin:0px 3px;
    }

}
