.login{
    display: flex;
    flex-direction: column;
    position: absolute;
    width:32vw;
    box-shadow: 1px 1px 10px 5px rgb(3, 3, 3);
    background-color: var(--form);
    top:28%;
    left:34%;
    padding-bottom: 10px;
    height:max-content;



}
  

.login>form p{
    font-size:1.5em;
    color:rgb(254, 13, 0);
    font-weight: 900;
    margin-left: 10%;
 
}
.login>form > .password > .showHideIcon{
    position: absolute ;
    top:44%;
    right:10%;
    font-size: 1.5em !important;
    cursor: pointer;
    color:rgb(41, 36, 36)
}

.login>h2{
    display: grid;
    place-items: center;
    color: var(--text);
    color: rgba(228, 225, 225, 0.949);
    padding-top:1%;
    padding-bottom:1%;

}
u {
    color: var(--button-hover);
    cursor: pointer;
}

.form_buttons>input{
    border:none;
    background-color: var(--button-color) !important;
    color: var(--text);
    padding:10px;
    font-size: 1.5em;
    font-weight: 800;
    width: 83%;

    
}
.form_buttons>input:hover{
    cursor:pointer;
    background-color: var(--button-hover) !important;

}
.form_buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--text);
    margin: 2%
}


form .credential{
    width:83%;
    font-weight: 500;
    margin-top: 10px;
    margin-left:6%;
    border: none;
    outline: none;
    padding-left: 5%;
    margin-bottom:3% ;
    margin-top: 5%;
    padding:2%;
    color: var(--input-text)


}

.form_buttons>h2{
    margin: 4%;
    font-weight: 900;
    color: var(--text);


}
@media (min-width:1451px){
    form>.credential{
    font-size: 1.5em !important;

    }

}
@media (min-width:220px) and (max-width:1450px) {
    .login{
    height:max-content;
    left:26%;
    width:50vw;

    }
  
    form> .credential{
        font-size: 1.05em;

    }

    .login>form>p{
        
        font-size: small;

    }
   
    .form_buttons>input{
        padding:0.7vh;
        height: max-content;
        font-size:1em;

    }

   
}
@media (min-width:950px)and (max-width:1650px){
   .login{
    height:max-content;
    font-size: 1.5em;
    

   } 


}
@media (min-width:220px) and (max-width:599px) {
    .login{
        width: 70vw;
        left:22%;
        top:20%;


        
}
    form> .credential{
        font-size: 0.87em;

    }
    form>input{
        padding: 5%;
    }
    .form_buttons>input{
        font-size: 1em;
    }
    .form_buttons>h2{
        font-size: 0.9em;
        padding-left:5px;
        

    }
}
@media  (max-width:1200px){
    .login> form > .password  .showHideIcon{
        font-size: 1.2em !important;

    }
}