.show_product_details{
    width:90%;
    background-color: rgb(237, 237, 237);
    margin:1% auto ;
    height: max-content;
    border-radius: 2%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* margin-top: 3%; */
    position: relative;
}
.show_product_details>.back{
    position: sticky;
    top:0;
    padding:5px;
    margin:5px;
    border-radius: 55%;
    width:fit-content;
    cursor: pointer;
    color: rgb(33, 38, 139);
    font-size: 30px;
    background-color: rgb(173, 197, 229);
}
.title{
    font-size: 3em;
    color:rgb(49, 105, 234);
    margin:0 1%;
    font-weight: 550;
}
.show_product_details>img{
    width:21%;
    margin: 0% auto;

}
.show_product_details>.price{
    color: rgba(255, 0, 0, 0.777);
    margin: 0 1%  1% 1.6%;
    font-weight: 650;
    font-size: 1.3em;

}
.show_product_details>.description{
    margin: 0.5% 0.5%  0.5% 0.5%;
    font-weight: 500;
    font-size: 1.8em;



}
.show_product_details>.categories,.rating,.stock, .uploader{
    margin: 0.5% 0.5%  0.5% 0.5%;
    font-weight: 700;
    font-size: 1.5em;

}
@media screen and (max-width:629px) {
    .show_product_details{
        padding: 5px;
    }
    .title{
        font-size:2.1em
    }
    .show_product_details>.description{
    font-size: 1.6em;


    }

    
}
@media  screen and (max-width:400px) {
    .title{
        font-size:1.7em
    }
    .show_product_details>.description{
        font-size: 1em;
    
    
        }
        .show_product_details>.categories,.rating{
    font-size: 1.2em;

        }
    
}
@media  screen and (max-width:260px) {
    .title{
        font-size:1.1em
    }
    .show_product_details>.description{
        font-size: 0.6em;
    
    
        }
        .show_product_details>.price{
        font-size: 0.5em;


        }
        .show_product_details>.categories,.rating{
    font-size: 0.8em;

        }
}