.addProducts{
    display: flex;
    flex-direction: column;
    position: absolute;
    width:32vw;
    box-shadow: 1px 1px 10px 5px rgb(3, 3, 3);
    background-color: rgb(34, 34, 34);
    /* opacity: 0.79; */
    top:10%;
    left:38%;
    padding-bottom: 10px;
    border-radius: 20px;
    height:fit-content;



}


.addProducts>form>p{
  
    font-size:1.5em;
    color:rgb(254, 13, 0);
    font-weight: 900;
    margin-left: 10%;
 
}

.addProducts>h2{
    background-color: rgb(0, 6, 113);
    color: white;
    padding-left: 37%;
    padding-top:1%;
    padding-bottom:1%;

}
.addProducts>.form_buttons{
    display: flex;
    justify-content: space-around;
    padding-top:2%;
    padding-bottom:1%;
    color: white;
    margin:2px;



}
.addProducts>form>.form_buttons>input{
    border:none;
    border-radius: 7px;
    background-color: rgb(0, 6, 113);

    color:white;
    padding:20px;
    font-size: 1.5em;
    font-weight: 800;
    
}
.addProducts>form>.form_buttons>input:hover{
    cursor:pointer;
    background-color: rgb(13, 22, 188);


}
.addProducts>form> .credential{
    width:83%;
    font-weight: 500;
    margin-top: 10px;
    margin-left:6%;
    border: none;
    outline: none;
    border-radius: 25px;
    padding-left: 5%;
    margin-bottom:3% ;
    margin-top: 5%;
    font-size: 2em;

}
.addProducts>form>input{
    padding: 3%;
}
@media (min-width:600px) and (max-width:1450px) {
    .addProducts{
    height:max-content;
    width:45vw;
    left:45%
   

    }
}
    @media (min-width:450px) and (max-width:599px)   {
        .addProducts{
    left:45%;
    width:35vw;
    top:10%
        }
        .addProducts>form>p{
            font-size: 1.5em;
        }

    
  
    .addProducts>form> .credential{
        font-size: 0.8em;

    }

   
    .addProducts>form>.form_buttons>input{
        padding:0.7vh;
        height: max-content;
        font-size:1em;

    }
    .addProducts>h2{
    font-size: 15px;
    padding-left: 30%;

    }
   
}
/* @media (min-width:950px) and (max-width:1630px){
   .addProducts{
    height:fit-content;
    font-size: 1em;
    top:15%;
    width:45vw;
    left:38%;


    

   } 
   .addProducts>h2{
    font-size: 25px;
    padding-left: 35%;

    }
    .addProducts>form>p{
        font-size: 1.5em;
    }


} */
/* @media (min-width:220px) and (max-width:599px) {
    .addProducts{
        left:40%;
        width:35vh;

        top:10%;


        
}
.addProducts>h2{
    font-size: 12px;
    padding-left: 30%;

    }
    .addProducts>form> .credential{
        font-size: 0.87em;

    }
    .addProducts>form>input{
        padding: 3%;
    }
    .addProducts>form>.form_buttons>input{
        font-size: 0.8em;
    }
    .addProducts>form>p{
        font-size: 1em;
    }

   
} */
/* @media (max-width:350px){
    .addProducts>form>.showHideIcon{
      
        font-size: 1.4em !important;
        margin-bottom: 10%;
    }
} */
@media screen and (max-width:450px)  {
    .addProducts{
        left:50%;
        width:33vw;
        top:10%
            }
            
    .addProducts>form> .credential{
        font-size: 0.8em;

    }
    .addProducts>form>p{
        font-size: 0.8em;
    }

   
    .addProducts>form>.form_buttons>input{
        padding:0.4vh;
        height: max-content;
        font-size:0.7em;

    }
    .addProducts>h2{
    font-size: 11px;
    padding-left: 20%;

    }

}
@media screen and (max-width:280px)  {
    .addProducts{
        left: 65%;
    }
    .addProducts>form>.form_buttons>input{
        padding:0.1vh;
        /* height: max-content; */
        font-size:0.5em;

    }
    .addProducts>form> .credential{
        font-size: 0.5em;

    }
    .addProducts>form>p{
        font-size: 0.5em;
    }

}