.category{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
 
 
}
.clothing{
    display: flex;
    flex-direction: column;

}
/* .categories_options{
    background-color: aliceblue;
    width: max-content;
    position: absolute;
    left: -10%;
    top:500%
} */

.category_items{
    height: auto;
    margin: 5px;
    width:22vw;
    display: flex;
    flex-direction: column;
    background-color: white;
}
.category_items>img{
    width:18vw;
    object-fit: contain;
}
/* .category{
    width:20vw;
    margin: 5px;
    background-color: rgb(183, 81, 81);
    height: auto


} */