.category{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
 
 
}
.clothing{
    display: flex;
    flex-direction: column;

}
/* .categories_options{
    background-color: aliceblue;
    width: max-content;
    position: absolute;
    left: -10%;
    top:500%
} */
.category_items:hover{
    outline:0.5px solid blue;
    cursor: pointer;
    

}
.category_items{
    height: auto;
    margin: 5px;
    width:18vw;
    display: flex;
    flex-direction: column;
    background-color: white;
    align-items: center;
}
.category_items>img{
    width:16vw;
    height: 18vh;
    object-fit: contain;
}
.category_items>div{
    margin-top: auto;
}
/* .category{
    width:20vw;
    margin: 5px;
    background-color: rgb(183, 81, 81);
    height: auto


} */