.home{
    margin: 10px;
    height: 94vh;
    width:99vw;
    background-color: rgb(231, 220, 220);
    opacity: 0.95;
    display: flex;
    border-radius: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
}
@media  (max-width:1800px)  {
    .home{
        margin:3px;
    }

}
