.home{
    /* margin-left: 1%; */
    height: 94vh;
    width:99vw;
    background-color:rgb(225, 213, 213);
    /* opacity: 0.95; */
    display: flex;
    border-radius: 10px;
    overflow: scroll;
    /* overflow-x: hidden; */
}
@media  (max-width:1800px)  {
    .home{
        margin:3px;
    }

}
