.home{
    margin: 10px;
    height: 94vh;
    width:99vw;
    background-color: rgb(223, 223, 223);
    opacity: 0.95;
    display: flex;
    /* border: 1px solid black; */
    border-radius: 10px;
    overflow-y: scroll;
}
@media  (max-width:1800px)  {
    .home{
        margin:3px;
    }

}
@media  (max-height:565px)  {
    .home{
        height:149vh
    }

}