.login{
    display: flex;
    flex-direction: column;
    position: absolute;
    width:32vw;
    box-shadow: 1px 1px 10px 5px rgb(3, 3, 3);
    background-color: rgb(109, 109, 109);
    opacity: 0.9;
    top:30%;
    left:37%;
    padding-bottom: 10px;
    border-radius: 20px;
    height: fit-content;


}

.login>form>p{
  
    font-size:1.5em;
    color:rgb(240, 75, 66);
    font-weight: bolder;
    margin-left: 10%;
    /* height: fit-content; */
 
}

.login>h2{
    width: 55%;
    background-color: rgb(107, 0, 113);
    color: white;
    padding-left: 45%;
    padding-top:1%;
    padding-bottom:1%;

}
.form_buttons{
    display: flex;
    justify-content: space-around;
    padding-top:1%;
    padding-bottom:1%;
    color: white;
    margin:2px;



}
.form_buttons>input{
    border:none;
    border-radius: 7px;
    background-color: rgb(107, 0, 113);
    color:white;
    padding:6px;
    font-size: 1em;
    font-weight: 700;
    
}
.form_buttons>input:hover{
    cursor:pointer;
    background-color: rgb(141, 6, 148);

}
form> .credential,.credential2{
    width:87%;
    font-weight: 500;
    margin-top: 10px;
    margin-left:6%;
    border: none;
    outline: none;
    border-radius: 25px;
    padding-left: 5%;
    margin-bottom:3% ;
    margin-top: 2%;
    font-size: 2em;

}
@media (min-width:240px) and (max-width:1450px) {
    .login{
    height:max-content;

    width:fit-content

   

    }
  
    form> .credential,.credential2{
        font-size: 1.5em;

    }
    .form_buttons>h2{
        font-size: 1em;
        padding-left:5px ;
        

    }
    .login>form>p{
        
        font-size: small;

    }
    .login>form>span{
        font-size: small;
        top:63%;
        right:18%;
    }
    .form_buttons>input{
        padding:0.7vh;
        height: max-content;

    }
    .login>h2{
        font-size: 14px;
    }
   
}
@media (min-width:1451px)and (max-width:1630px){
   .login{
    height:max-content;
    font-size: 1.5em;

   } 


}