.uploaded_photo>img{
    width:15%;
    margin-left: 40%;


}
.photo_upload>input{
   color: aliceblue;
   font-size: 15px;
}
.photo_upload{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;

}
.photo_upload>div>button{
    width:18vw;
    padding:2px 0;
    font-size:20px;
    font-weight: 600;
    /* white-space: nowrap; */
}
@media  (max-width:700px) {
    .photo_upload>input{
    font-size:9px;
    font-weight: 900;
    width: 80%;
    white-space: break-spaces;




    }
}