.products{
    display: flex;
    flex-wrap: wrap;
    margin-top: 2%;
    margin-left: 2%;


}
.items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:15vw;
    background-color: rgb(245, 245, 245);
    margin:8px;
    height: fit-content;
    border-radius: 10px;
}
.items>img{
    height: 15vh;
    object-fit: contain;

}
.items>.product_details{
    margin-top: 8px;
    margin-left: 8px;
    margin-bottom: 10px;

}
.items>.product_details>h3{
    color:rgb(198, 15, 15)
}
.items>.product_details>button{
    background-color: orange;
    color: white;
    border:     none;
    border-radius: 16px;
    font-size: 20px ;

}