.sidebar{
    position: sticky;
    top:0;
    display: flex;
    flex: 0.7;
    flex-direction: column;
    border-right: 0.9px solid rgb(156, 150, 150);
    min-height: 100vh; 
    

}

.sidebar_items{
    margin: 5px;
    white-space: nowrap;
    font-weight: 800;
    font-size: 25px;
    padding: 3px;
    height: fit-content;
    border-bottom: 1px solid grey;
    padding: 10px;
    display: flex;
    align-items: center;
    color:rgb(56, 54, 54)
}
.sidebar_items>.MuiSvgIcon-root{
    color: rgb(6, 6, 81);
    margin-right: 5px;
}
.user{
    display: flex;
    /* white-space: nowrap; */
    margin:5px;
    align-items: center;
}
.username{
    margin:3px;
}
.sidebar_items:hover{
background-color: rgb(255, 255, 255);
cursor: pointer;
}

@media screen and (max-width:600px)  {
    .sidebar_items{
        margin:3px;
        font-size:10px;
        padding: 5px;

    }
    .user{
        margin:3px;
    }
    .username{
        font-size: 18px;
    }

}
@media screen and (max-width:350px)  {
    .sidebar_items{
        margin:3px;
        font-size:8px;
        padding: 2px;
        font-weight: 700;

    }
    .user{
        margin:2px;
    }
    .username{
        font-size: 12px;
    }
    .sidebar>.user>.avatar {
        font-size: 0.5em  !important;
        color:black
    }
    

}
@media screen and (max-height:375px){
    .sidebar_items{
        font-size: 15px;
    margin: 0px;
    padding: 2px;



    }
    .username{
        margin:2px;
        font-size: 18px;
    }
    
}