.signUp{
    display: flex;
    flex-direction: column;
    position: absolute;
    width:32vw;
    box-shadow: 1px 1px 10px 5px rgb(3, 3, 3);
    background-color: rgb(41, 40, 40);
    opacity: 0.79;
    top:10%;
    left:32%;
    padding-bottom: 10px;
    border-radius: 20px;
    height:fit-content;



}

.signUp>form>p{
  
    font-size:1.5em;
    color:rgb(254, 13, 0);
    font-weight: 900;
    margin-left: 10%;
    /* height: fit-content; */
 
}

.signUp>h2{
    /* width: 60%; */
    background-color: rgb(107, 0, 113);
    color: white;
    padding-left: 37%;
    padding-top:1%;
    padding-bottom:1%;

}
.form_buttons{
    display: flex;
    justify-content: space-around;
    padding-top:2%;
    padding-bottom:1%;
    color: white;
    margin:2px;



}
.form_buttons>input{
    border:none;
    border-radius: 7px;
    background-color: rgb(107, 0, 113);
    color:white;
    padding:20px;
    font-size: 1.5em;
    font-weight: 800;
    
}
.form_buttons>input:hover{
    cursor:pointer;
    background-color: rgb(141, 6, 148);

}
form> .credential{
    width:83%;
    font-weight: 500;
    margin-top: 10px;
    margin-left:6%;
    border: none;
    outline: none;
    border-radius: 25px;
    padding-left: 5%;
    margin-bottom:3% ;
    margin-top: 5%;
    font-size: 2em;

}
form>input{
    padding: 3%;
}
@media (min-width:220px) and (max-width:1450px) {
    .signUp{
    height:max-content;
    width:45vw;
    left:28%
   

    }
  
    form> .credential{
        font-size: 1.05em;

    }

   
    .form_buttons>input{
        padding:0.7vh;
        height: max-content;
        font-size:1em;

    }
    .signUp>h2{
    font-size: 15px;
    padding-left: 30%;

    }
   
}
@media (min-width:950px) and (max-width:1630px){
   .signUp{
    height:fit-content;
    font-size: 1em;
    top:15%;
    width:45vw;
    left:28%;


    

   } 
   .signUp>h2{
    font-size: 25px;
    padding-left: 35%;

    }
    .signUp>form>p{
        font-size: 1.5em;
    }


}
@media (min-width:220px) and (max-width:599px) {
    .signUp{
        width: 70vw;
        left:26%;
        top:20%;


        
}
.signUp>h2{
    font-size: 12px;
    padding-left: 30%;

    }
    form> .credential{
        font-size: 0.87em;

    }
    form>input{
        padding: 3%;
    }
    .form_buttons>input{
        font-size: 0.8em;
    }
    .signUp>form>p{
        font-size: 1em;
    }

   
}